* {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace
}

body {
    background-color: hsv(343, 25%, 11%);
    color: hsv(235, 14%, 92%);
    margin: 1em;
}

pre {
    box-shadow: inset -3px -3px 12;
}

.negative {
    color: red;
    text-transform: uppercase;
}

.positive {
    color: limegreen;
}

.submit-button {
    align-self: flex-end;
}
