{% extends "base.html" %}

{% block title %}Register Now!{% endblock %}

{% block body %}
        <h1>Register for free and without SMS!</h1>
        <form name='register' action='' method="POST" novalidate>
            <input type="name" size="40" value="" placeholder="Your user name"><br><br>
            <input type="password" size="50" placeholder="Your password"><br>
            <input type="password-ret" size="50" placeholder="Retype your password"><br><br>
            <input type="submit" value="REGISTER" class="submit-button"><br>
        </form>
{% endblock %}